# Docs: https://caddyserver.com/docs/caddyfile
0.0.0.0:80 {
    root /var/www/phpsysinfo
    fastcgi / php-fpm:9000 php {
        index index.php
    }

    proxy /phpmyadmin/ phpmyadmin:80 {
        without /phpmyadmin/
        transparent
    }

    gzip
    browse
    log /var/log/caddy/access.log
    errors /var/log/caddy/error.log
}
#######################################################################
https://worktime.duynq.icd {
    root /var/www/PHP/icd/worktime.duynq.icd/public

    gzip
    browse

    fastcgi / php-fpm:9000 php {
        index index.php
    }

    # This rewrite is to prevent access to dot files and folders such
    # as .htaccess, .git, etc.
    rewrite {
        # This regex catches everything that contains "/." in the URL
        r \/\.
        if {path} not_starts_with .well-known
        to /index.php{uri}
    }

    # Rewrite non-existent URLs to our index.php controller
    rewrite {
        if {file} not favicon.ico
        to {path} {path}/ /index.php?{query}
    }

    header / {
        Strict-Transport-Security	"max-age=30758400"
        X-Content-Type-Options		"nosniff"
        X-Frame-Options			"deny"
        X-XSS-Protection		"1; mode=block"
        Referrer-Policy			"same-origin"
    }

    # Log
    log /var/log/caddy/worktime.duynq.icd_access.log
    errors /var/log/caddy/worktime.duynq.icd_error.log

    # SSL Certificates
    tls /var/www/Server/ssl/_wildcard.duynq.icd.pem /var/www/Server/ssl/_wildcard.duynq.icd-key.pem
}

#######################################################################
https://maplife-bus-route.duynq.icd {
    root /var/www/PHP/maplife/projects/bus-route/mplf_route/public

    gzip
    browse

    fastcgi / php-fpm:9000 php {
        index index.php
    }

    # This rewrite is to prevent access to dot files and folders such
    # as .htaccess, .git, etc.
    rewrite {
        # This regex catches everything that contains "/." in the URL
        r \/\.
        if {path} not_starts_with .well-known
        to /index.php{uri}
    }

    # Rewrite non-existent URLs to our index.php controller
    rewrite {
        if {file} not favicon.ico
        to {path} {path}/ /index.php?{query}
    }

    header / {
        Strict-Transport-Security	"max-age=30758400"
        X-Content-Type-Options		"nosniff"
        X-Frame-Options			"deny"
        X-XSS-Protection		"1; mode=block"
        Referrer-Policy			"same-origin"
    }

    # Log
    log /var/log/caddy/maplife-bus-route.duynq.icd_access.log
    errors /var/log/caddy/maplife-bus-route.duynq.icd_error.log

    # SSL Certificates
    tls /var/www/Server/ssl/_wildcard.duynq.icd.pem /var/www/Server/ssl/_wildcard.duynq.icd-key.pem
}

#######################################################################
https://laravel-admin.duynq.icd {
    root /var/www/PHP/personal/laravel-admin.duynq.icd/public

    gzip
    browse

    fastcgi / php-fpm:9000 php {
        index index.php
    }

    # This rewrite is to prevent access to dot files and folders such
    # as .htaccess, .git, etc.
    rewrite {
        # This regex catches everything that contains "/." in the URL
        r \/\.
        if {path} not_starts_with .well-known
        to /index.php{uri}
    }

    # Rewrite non-existent URLs to our index.php controller
    rewrite {
        if {file} not favicon.ico
        to {path} {path}/ /index.php?{query}
    }

    header / {
        Strict-Transport-Security	"max-age=30758400"
        X-Content-Type-Options		"nosniff"
        X-Frame-Options			"deny"
        X-XSS-Protection		"1; mode=block"
        Referrer-Policy			"same-origin"
    }

    # Log
    log /var/log/caddy/laravel-admin.duynq.icd.duynq.icd_access.log
    errors /var/log/caddy/laravel-admin.duynq.icd.duynq.icd_error.log

    # SSL Certificates
    tls /var/www/Server/ssl/_wildcard.duynq.icd.pem /var/www/Server/ssl/_wildcard.duynq.icd-key.pem
}

